KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/GDT_entries.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/isr_bis.o \
$(ARCHDIR)/loading_gdt.o \
$(ARCHDIR)/loading_idt.o \
$(ARCHDIR)/irq_bis.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/timer.o \
